NEXT_PUBLIC_API_URL=http://localhost:8081
NEXT_PUBLIC_STATUS_PATH=/defina-seu-endpoint-get
NEXT_PUBLIC_STATUS_PATHS=/api/usuarios,/api/fazendas,/api/maquinas,/api/funcionarios,/api/produtos,/api/pedidos,/api/postagens
